@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using DeepfakeWeb.Data
@model DeepfakeWeb.Data.ImageData
@inject UserManager<AppUser> UserManager
@inject AppDbContext DbContext


<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card">
                <img class="card-img-top fixed-size-big mt-5" src="data:image/png;base64,@Model.OriginalImageBase64" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@(Model.IsReal ? "Real" : "Fake")</h5>
                    <div class="progress">
                        <div class="progress-bar @(Model.IsReal ? "bg-success" : "bg-danger")" role="progressbar" style="width: @(Model.Confidence * 100)%;" aria-valuenow="@(Model.Confidence * 100)" aria-valuemin="0" aria-valuemax="100">@((Model.Confidence * 100).ToString("F"))%</div>
                    </div>
                    <div class="text-center">
                        <p></p>
                        @{
                            var user = await UserManager.GetUserAsync(User);
                            if (user != null)
                            {
                                var userData = DbContext.Users.FirstOrDefault(p => p.Id == user.Id);
                                if (userData != null && !userData.HasSubscription())
                                {
                                    <a onclick="goToPurchasePage()" class="btn btn-primary mt-2 font">Show Detailed Breakdown</a>
                                }
                                else
                                {
                                    <a asp-action="ViewAnalysis" asp-route-id="@Model.Id" asp-controller="Upload" class="btn btn-primary mt-2 font">Show Detailed Breakdown</a>
                                }
                            }
                            else
                            {
                                <a asp-action="ViewAnalysis" asp-route-id="@Model.Id" asp-controller="Upload" class="btn btn-primary mt-2 font">Show Detailed Breakdown</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    function goToPurchasePage(){
        Swal.fire({
          title: "Subscription Required!",
          text: "You need an active subscription to access this feature!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#76b852",
          cancelButtonColor: "#d33",
          confirmButtonText: "Subscribe!",
        }).then((result) => {
          if (result.isConfirmed) 
          {            
              window.location = "/Home/Pricing/"
          }
        });
    }
        
    </script>
}